html {
  scroll-behavior: smooth;
}

:root {
  --font-title: "Rubik Doodle Shadow", cursive;
  --font-text: "Rubik", sans-serif;
}

body {
  font-family: var(--font-text);
}

title {
  font-family: var(--font-title);
  font-weight: 400;
}

.next-page {
  text-decoration: none;
}

.next-page:hover {
  font-weight: bold;
}

.arrow {
  animation: bounceRight 1s infinite;
  display: inline-block;
  margin-left: 8px;
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}